server {
    listen [::]:80;
    listen 80;
    server_name $DOMAIN_UI;
    
    location / {
      proxy_pass http://ui:80;
    }
}
 
server {
    listen [::]:80;
    listen 80;
    server_name $DOMAIN_API;
    
    location / {
      proxy_pass http://api:3000;
    }
}